body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.title h1{
  color: #333;
  text-align: center;
  border: 3px solid #949494;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 80px;
}

.title{
  display: flex;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.container input{
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 30px;
}

.container button{
  cursor: pointer;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 15px;
  transition: transform 0.3s ease-in-out;
}

.container button:hover{
  transform: scale(1.1);
}

#countdown{
  padding: 20px;
  color: red;
}

#result{
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.6;
  font-weight: 600;
  font-size: 30px;
}

#result-green{
  color: rgb(0, 178, 0);
}

#result-red{
  color: red;
}


